body {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #ffffff;
}

.navbar-default {
  background-color: white;
}

.jumbotron {
  background-color: white;
}

.navbar-nav {
  padding-top: 10px;
}

.navbar {
  margin-bottom: 20px;
}

#logo {
  margin-top: -180px;
  margin-bottom: -180px;
}

.crop {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 89%;
    height: 150px;
    overflow: hidden;
    box-shadow: 10px 10px 5px #888888;
}

#footer {
  text-align: center;
}

.fa-2x {
  /*padding: -5px 5px -5px 5px ;*/
}

#facebook {
  color: #3b5998;
  margin-top: -3px;
}

#youtube {
  color: #CD332D;
  margin-top: -3px;
}

#twitch {
  margin-top: -3px;
  color:#7550BA;
}

#instagram {
  color:#A1725B;
  margin-top: -3px;
}

#footer {
  font-size: 12px;
}
